# ---- Frontend ---- #
apiVersion: v1
kind: Service
metadata:
  name: web-task-list-devops
  namespace: task-list-devops
spec:
  selector:
    app: web
  ports:
    - port: 80
      targetPort: 3000
  type: ClusterIP 
---
# ---- Backend ---- #
apiVersion: v1
kind: Service
metadata:
  name: backend-task-list-devops
  namespace: task-list-devops
spec:
  selector:
    app: backend
  ports:
    - port: 8080
      targetPort: 8080
  type: ClusterIP